<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="Cart-btn" th:fragment="addToPostponeBtnFragment (id)">
    <form th:method="post" th:action="@{/postponed}">
        <button class="btn btn_primary btn_outline" data-sendstatus="KEPT" data-bookid="[1122]"
                th:attr="data-bookid=${id}">
        <span class="btn-icon">
            <img src="/assets/img/icons/heart.svg" alt="heart.svg"/>
        </span>
            <span class="btn-content" th:text="#{postpone.button}">Отложить</span>
        </button>
    </form>
</div>

</body>
</html>