<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="Cart-btn" th:fragment="addToCartBtnFragment (id)">

    <button class="btn btn_primary btn_outline" data-sendstatus="CART" data-bookid="[1122]"
            th:attr="data-bookid=${id}">
        <span class="btn-icon">
            <img src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg"/>
        </span>
        <span class="btn-content" th:text="#{buy.button}">Купить</span>
    </button>

</div>

</body>
</html>