<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="cartProductFragment (booksData, isPostponed)">
    <div th:each="book : ${booksData}">
        <div class="Cart-product">
            <div class="Cart-block Cart-block_row">
                <div class="Cart-block Cart-block_pict">
                    <a class="Cart-pict" href="#">
                        <img class="Cart-img"
                             src="/assets/img/content/main/card.jpg"
                             alt="card.jpg"/>
                    </a>
                </div>
                <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_info">
                        <div class="Cart-author">
                            <a href="#" th:text="${book.author}">Борис Васильевич Бедный</a>
                        </div>
                        <div class="Cart-title">
                            <a href="#" th:text="${book.title}">Жизнь</a>
                        </div>
                        <div th:replace="~{fragments/card_fragments/rating_fragment :: ratingFragment (${book.rating})}"></div>
                        <div class="Cart-buttons">

                            <div th:replace="${isPostponed} ?
                                        ~{fragments/card_fragments/add_to_cart_button_fragment :: addToCartBtnFragment (${book.id})}
                                        : ~{fragments/card_fragments/add_to_postpone_button_fragment :: addToPostponeBtnFragment (${book.id})}
                        "></div>
                            <div class="Cart-btn">
                                <button class="btn btn_danger btn_outline" data-sendstatus="UNLINK" data-bookid="[1122]"
                                        th:attr="data-bookid=${book.id}">
                                <span class="btn-icon"><img src="/assets/img/icons/trash.svg"
                                                            alt="trash.svg"/></span><span
                                        class="btn-content" th:text="#{delete.button}">Удалить</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="Cart-block Cart-block_price">
                        <div class="Cart-priceTitle" th:text="#{price.text}">Цена:
                        </div>
                        <div class="Cart-price" th:text="${book.price}">254 р.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>