<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <title>Тут название страницы написать</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!--meta( http-equiv="cache-control" content="no-cache")-->
    <!--meta( http-equiv="expires" content="0")-->
    <!--link(rel="preload" href="assets/css/extra.min.css?v=" + version as="style" crossorigin="anonymous")-->
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=33498857">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=33498857">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=33498857">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="/js/search.js"></script>
    <script defer src="/assets/js/scripts.min.js?v=33498857"></script>
</head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
<header th:replace="~{fragments/header_fragment :: headFragment}"></header>
<div class="Middle Middle_search">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title" th:text="#{search.button}">Поиск
            </h1>
            <div class="Section">
                <div class="search">
                    <form class="form form_search" action="#" data-searchlimit="20"
                          th:method="post"
                          th:object="${queryRequest}"
                          th:action="@{/search}">
                        <input class="search-input" id="queryStr" name="query" type="text"
                               placeholder="Search over 30 million book titles" value=""
                               th:field="*{query}"/>
                        <button class="search-button" type="submit"
                                th:text="#{search.button}">Поиск
                        </button>
                    </form>
                </div>
            </div>
            <div class="Section Section_close">
                <header class="Section-header"
                        th:if="${not #lists.isEmpty(searchBooks)}">
                    <h2 class="Section-title Middle-searchHeader"
                        th:text="#{found.text} + ' '  + ${#lists.size(searchBooks)} + ' ' + #{found.books.text}">
                        Найдено 40 книг
                    </h2>
                </header>
                <div th:replace="~{fragments/book_section_fragment :: booksSectionFragment (${searchBooks}, test)}">
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>