<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="Slider Slider_carousel" th:fragment="booksFragment (booksData, dataLoad)">
    <div class="Slider-box Cards" th:attr="data-load=${dataLoad}" data-loadoffset="8" data-loadlimit="20">
        <div class="Slider-item" th:each="book : ${booksData}">
            <div class="Slider-content">
                <div class="Card">
                    <div th:replace="~{fragments/card_picture_fragment :: cardPictureFragment (${book})}"></div>

                    <div th:replace="~{fragments/card_content_fragment :: cardContentFragment (${book})}"></div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{fragments/navigate_fragment :: navigateFragment}"></div>
</div>
</body>
</html>