<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="Cards Cards_refresh" th:fragment="booksSectionFragment (booksData, dataRefreshShow)">
    <div class="Card" th:each="book : ${booksData}">
        <div th:replace="~{fragments/card_picture_fragment :: cardPictureFragment (${book})}"></div>

        <div th:replace="~{fragments/card_content_fragment :: cardContentFragment (${book})}"></div>
    </div>

    <div class="Cards-footer Cards-footer_center">
        <a class="btn btn_primary" href="#" th:attr="data-refreshshow=${dataRefreshShow}"
           data-refreshoffset="20" data-refreshlimit="20"
           th:text="#{show.more.button}">
            Показать еще
        </a>
    </div>
</div>
</body>
</html>