<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="breadcrumbs" th:fragment="breadcrumbsFragment (currentItem)">
    <li class="breadcrumbs-item"><a href="/index.html" th:href="@{/}" th:text="#{topbar.main}">Главная</a>
    </li>
    <li class="breadcrumbs-item"><a href="/genres/index.html" th:href="@{/genres}" th:text="#{topbar.genres}">Книги</a>
    </li>
    <li class="breadcrumbs-item breadcrumbs-item_current"><span th:text="${currentItem}">Новинки</span>
    </li>
</ul>
</body>
</html>