<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="cardContentFragment (book)">
    <div class="Card-content">
        <strong class="Card-title">
            <a href="/books/slug.html" th:text="${book.title}">Техника</a>
        </strong>

        <div class="Card-description" th:text="${book.author}">Кондратенко Валерий Петрович
        </div>

        <div class="Card-cost">
            <span class="Card-priceOld" th:text="'$' + ${book.priceOld}">₽300.00</span>
            <span class="Card-price" th:text="'$' + ${book.price}">₽190.00</span>
        </div>
    </div>
</div>
</body>
</html>