<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="cardPictureFragment (book)">
    <a class="Card-picture" href="/books/slug.html">
        <img src="/assets/img/content/main/card.jpg" alt="card.jpg"/>
        <!--        <a class="Card-status" title="В корзине">-->
        <!--            <img src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg"/>-->
        <!--        </a>-->
        <!--        <a class="Card-status" title="Отложена">-->
        <!--            <img src="/assets/img/icons/heart.svg" alt="heart.svg"/>-->
        <!--        </a>-->
        <!--        <a class="Card-status" title="Куплена">-->
        <!--            <img src="/assets/img/icons/check.svg" alt="check.svg"/>-->
        <!--        </a>-->
        <div th:if="${book.sale != null and book.sale gt 0}">
            <div class="Card-sale" th:text="${book.sale} + '% ' + #{sale.text}">
                30% скидка
            </div>
        </div>
        <!--        <div th:if="${book.isHit}">-->
        <!--            <div class="Card-ribbon">-->
        <!--                <span class="Card-ribbonText" th:text="#{hit.text}">Бестселлер</span>-->
        <!--            </div>-->
        <!--        </div>-->
    </a>
</div>
</body>
</html>