<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header class="Header" th:fragment="headFragment">
    <div class="Header-rowMain">
        <div class="wrap">
            <div class="row">
                <div class="row-block Header-logo"><a class="logo" href="/"><img class="logo-image"
                                                                                 src="/assets/img/logo.png"
                                                                                 alt="logo.png"/><span
                        class="logo-text">BOOKSHOP [FRAGMENT]</span></a>
                </div>
                <div th:replace="~{fragments/search/search_fragment :: searchFragment}"></div>
                <div th:replace="~{fragments/header_cart_fragment :: headerCartFragment}"></div>
                <div class="row-block Header-trigger">
                    <a class="menuTrigger" href="#navigate">
                        <div class="menuTrigger-content">Показать навигацию
                        </div>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="Header-menu">
        <div class="wrap">
            <nav class="menuModal" id="navigate">
                <ul class="menu menu_main">
                    <li class="menu-item"><a class="menu-link" href="/index.html"
                                             th:href="@{/}" th:text="#{topbar.main}">Главная</a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="/genres/index.html"
                                             th:href="@{/genres}" th:text="#{topbar.genres}">Жанры</a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="/books/recent.html"
                                             th:href="@{/recent}" th:text="#{topbar.news}">Новинки</a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="/books/popular.html"
                                             th:href="@{/popular}" th:text="#{topbar.popular}">Популярное</a>
                    </li>
                    <li class="menu-item menu-item_ACTIVE"><a class="menu-link" href="/authors/index.html"
                                                              th:href="@{/authors}" th:text="#{topbar.authors}">
                        Авторы</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
</body>
</html>