<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="search" th:fragment="searchFieldsFragment">
    <form class="form form_search" action="#" data-searchlimit="20"
          th:action="@{/search}">
        <input class="search-input" id="query" name="query" type="text"
               placeholder="Search over 30 million book titles" value=""
               th:name="queryStr"/>
        <button class="search-button" type="submit"
                th:text="#{search.button}">Поиск
        </button>
    </form>
</div>
</body>
</html>