
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <title>Тут название страницы написать</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!--meta( http-equiv="cache-control" content="no-cache")-->
    <!--meta( http-equiv="expires" content="0")-->
    <!--link(rel="preload" href="assets/css/extra.min.css?v=" + version as="style" crossorigin="anonymous")-->
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=64223515">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=64223515">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=64223515">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script defer src="/assets/js/scripts.min.js?v=64223515"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $("#locales").change(function() {
		  var selectedOption = $("#locales").val();
          if (selectedOption != '') {
              window.location.replace('?lang='+selectedOption);
          }
	  });
    });
  </script>
</head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
<header th:replace="~{fragments/header_fragment :: headFragment}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <div class="Section">
                <div class="Section-header">
                    <h2 class="Section-title" th:text="#{section.recommended}">Рекомендуемое
                    </h2>
                </div>
                <div>
                    <div th:insert="~{fragments/books_fragment :: booksFragment (${recommendedBooks}, recommended)}"></div>
                </div>

                <div class="Section-header">
                    <h2 class="Section-title" th:text="#{topbar.news}">Новинки
                    </h2>
                </div>
                <div>
                    <div th:insert="~{fragments/books_fragment :: booksFragment (${recentBooks}, recent)}"></div>
                </div>

                <div class="Section-header">
                    <h2 class="Section-title" th:text="#{topbar.popular}">Популярное
                    </h2>
                </div>
                <div>
                    <div th:insert="~{fragments/books_fragment :: booksFragment (${popularBooks}, popular)}"></div>
                </div>
            </div>
            <h2 class="Middle-title" th:text="#{books.tags}">Книги по тегам
            </h2>
            <div class="Tags" id="tags">
                <div class="Tag Tag_xs"><a href="/tags/index.html">современная литература</a>
                </div>
                <div class="Tag Tag_sm"><a href="/tags/index.html">классическая литература</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">зарубежная литература</a>
                </div>
                <div class="Tag Tag_md"><a href="/tags/index.html">фэнтези</a>
                </div>
                <div class="Tag Tag_lg"><a href="/tags/index.html">английская литература</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">русская литература</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">американская литература</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">фантастика</a>
                </div>
                <div class="Tag Tag_md"><a href="/tags/index.html">детская литература</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">детектив</a>
                </div>
                <div class="Tag Tag_sm"><a href="/tags/index.html">любовь</a>
                </div>
                <div class="Tag Tag_sm"><a href="/tags/index.html">мистика</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">юмор</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">приключения</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">сказка</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">французская литература</a>
                </div>
                <div class="Tag Tag_xs"><a href="/tags/index.html">англия</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">художественная литература</a>
                </div>
                <div class="Tag Tag_xs"><a href="/tags/index.html">психология</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">философия</a>
                </div>
                <div class="Tag Tag_lg"><a href="/tags/index.html">экранизировано</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">любимое</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">антиутопия</a>
                </div>
                <div class="Tag Tag_xs"><a href="/tags/index.html">books you must read before you die</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">роман</a>
                </div>
                <div class="Tag Tag_md"><a href="/tags/index.html">франция</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">дайте две</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">young adult</a>
                </div>
                <div class="Tag Tag_lg"><a href="/tags/index.html">война</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">история</a>
                </div>
                <div class="Tag Tag_sm"><a href="/tags/index.html">флэшмоб 2016</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">детство</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">жизнь</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">драма</a>
                </div>
                <div class="Tag Tag_md"><a href="/tags/index.html">россия</a>
                </div>
                <div class="Tag Tag_md"><a href="/tags/index.html">книжное путешествие</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">советская литература</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">триллер</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">америка</a>
                </div>
                <div class="Tag Tag_sm"><a href="/tags/index.html">немецкая литература</a>
                </div>
                <div class="Tag Tag_xs"><a href="/tags/index.html">вампиры</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">школьная программа</a>
                </div>
                <div class="Tag Tag_xs"><a href="/tags/index.html">рассказы</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">магия</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">дети</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">русская классика</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">флэшмоб 2015</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">биография</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">english</a>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
<!--+menu(-->
<!--    'Это раз',-->
<!--    'Это два',-->
<!--    'Это три'-->
<!--)-->
<!--br-->
<!--br-->
<!--+menu._vt-->
<!--    +menuItem Это раз-->
<!--    +menuItem.-item_danger Это два-->
<!--    +menuItem Это три-->
</body>
</html>