
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
  <title>Тут название страницы написать</title>
  <meta name="description" content="Описание страницы">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <!--meta( http-equiv="cache-control" content="no-cache")-->
  <!--meta( http-equiv="expires" content="0")-->
  <!--link(rel="preload" href="assets/css/extra.min.css?v=" + version as="style" crossorigin="anonymous")-->
  <link href="favicon.ico" rel="shortcut icon">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/fonts.min.css?v=09585989">
  <link rel="stylesheet" href="/assets/css/basic.min.css?v=09585989">
  <link rel="stylesheet" href="/assets/css/extra.min.css?v=09585989"><!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script defer src="/assets/js/scripts.min.js?v=09585989"></script>
</head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
<header th:replace="~{fragments/header_fragment :: headFragment}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <div th:replace="~{fragments/breadcrumbs_fragment :: breadcrumbsFragment (Новинки)}"></div>
            <div class="Section">
                <div class="Section-header">
                    <h1 class="Section-title" th:text="#{topbar.news}">Новинки
                    </h1>
                    <form class="form form_inline Section-header-form" action="#" method="post"
                          th:action="@{/recent/filter/date}" th:object="${dateFilterRequest}">
                        <div class="form-group">
                            <label class="form-label" th:text="#{filter.from}">с
                            </label>
                            <input th:field="*{fromDate}"
                                   class="form-input form-input_date form-input_date_uninit" id="fromdaterecent"
                                   name="fromdaterecent" type="text" placeholder="Дата" data-refreshoffset="20"
                                   data-refreshlimit="20" data-refreshfrom="0"
                                   autocomplete="off"
                                   th:attr="placeholder=#{date.placeholder}"/>
                        </div>
                        <div class="form-group">
                            <label class="form-label" th:text="#{filter.to}">по
                            </label>
                            <input th:field="*{toDate}"
                                   class="form-input form-input_date form-input_date_uninit" id="enddaterecent"
                                   name="enddaterecent" type="text" placeholder="Дата" data-refreshoffset="20"
                                   data-refreshlimit="20" data-refreshshow="changedate" data-refreshto="0"
                                   th:attr="placeholder=#{date.placeholder}"
                                   autocomplete="off"/>
                        </div>
                    </form>
                </div>
                <div
                        th:replace="~{fragments/book_section_fragment :: booksSectionFragment (${recentSectionBooks}, recent)}">
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>